.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px;
  text-align: center;

}
.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 225px);
  grid-template-rows: repeat(3, 225px);
  gap: 45px;
  margin: 0 auto;
  padding: 0;
}

.button__add {
  margin: 50px auto ;
  outline: none;
  border: none;
  width: 195px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #000000;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}
