.button__add {
  margin: 50px auto ;
  outline: none;
  border: none;
  width: 195px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #000000;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}
